.banner {
    position: fixed;
    top: 0%;
    left: calc(50% - 100px);
    width: 200px;
    height: auto;
    z-index: 1000;
}

div.wrapper {
    transform-style: preserve-3d;
    perspective: 40000px;
    position: relative;
    height: 100vh;
    width: 100%;
    transform: rotateX(-30deg) translateZ(-2000px);
}

div.product {
    animation: autoscroll 40s linear infinite;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    opacity: 1;
}

div.wrapper:hover div.product {
    animation-play-state: paused;
}

@keyframes autoscroll {
    from {
        transform: rotateY(-40deg) translateZ(1600px);
    }
    to {
        transform: rotateY(320deg) translateZ(1600px);
    }
}

/* Delay 39 divs */
.product:nth-child(1) { animation-delay: calc(1 * 1s); }
.product:nth-child(2) { animation-delay: calc(2 * 1s); }
.product:nth-child(3) { animation-delay: calc(3 * 1s); }
.product:nth-child(4) { animation-delay: calc(4 * 1s); }
.product:nth-child(5) { animation-delay: calc(5 * 1s); }
.product:nth-child(6) { animation-delay: calc(6 * 1s); }
.product:nth-child(7) { animation-delay: calc(7 * 1s); }
.product:nth-child(8) { animation-delay: calc(8 * 1s); }
.product:nth-child(9) { animation-delay: calc(9 * 1s); }
.product:nth-child(10) { animation-delay: calc(10 * 1s); }
.product:nth-child(11) { animation-delay: calc(11 * 1s); }
.product:nth-child(12) { animation-delay: calc(12 * 1s); }
.product:nth-child(13) { animation-delay: calc(13 * 1s); }
.product:nth-child(14) { animation-delay: calc(14 * 1s); }
.product:nth-child(15) { animation-delay: calc(15 * 1s); }
.product:nth-child(16) { animation-delay: calc(16 * 1s); }
.product:nth-child(17) { animation-delay: calc(17 * 1s); }
.product:nth-child(18) { animation-delay: calc(18 * 1s); }
.product:nth-child(19) { animation-delay: calc(19 * 1s); }
.product:nth-child(20) { animation-delay: calc(20 * 1s); }
.product:nth-child(21) { animation-delay: calc(21 * 1s); }
.product:nth-child(22) { animation-delay: calc(22 * 1s); }
.product:nth-child(23) { animation-delay: calc(23 * 1s); }
.product:nth-child(24) { animation-delay: calc(24 * 1s); }
.product:nth-child(25) { animation-delay: calc(25 * 1s); }
.product:nth-child(26) { animation-delay: calc(26 * 1s); }
.product:nth-child(27) { animation-delay: calc(27 * 1s); }
.product:nth-child(28) { animation-delay: calc(28 * 1s); }
.product:nth-child(29) { animation-delay: calc(29 * 1s); }
.product:nth-child(30) { animation-delay: calc(30 * 1s); }
.product:nth-child(31) { animation-delay: calc(31 * 1s); }
.product:nth-child(32) { animation-delay: calc(32 * 1s); }
.product:nth-child(33) { animation-delay: calc(33 * 1s); }
.product:nth-child(34) { animation-delay: calc(34 * 1s); }
.product:nth-child(35) { animation-delay: calc(35 * 1s); }
.product:nth-child(36) { animation-delay: calc(36 * 1s); }
.product:nth-child(37) { animation-delay: calc(37 * 1s); }
.product:nth-child(38) { animation-delay: calc(38 * 1s); }
.product:nth-child(39) { animation-delay: calc(39 * 1s); }
